<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RemedyLab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E50AE71F2E28F98F00DC5771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E50AE7332E28F99100DC5771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E50AE73D2E28F99100DC5771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
